<h1 style="text-align: center;">GYM TONIC VIVES</h1>
<mat-stepper [linear]="isLinear" #stepper >
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos personales</ng-template>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Nombre completo"
          formControlName="nombre"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" required />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" required />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="passwd" required  />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label >Confirmar contraseña</mat-label>
        <input matInput type="password" formControlName="passwd2" required />
      </mat-form-field>
      <br>
      @if(firstFormGroup.hasError("mismaPasswd")&& firstFormGroup.get("passwd2")?.touched){
        <span style="color:rgb(184, 9, 9);">Las contraseñas no coinciden.</span>
      }

      <div>
        <button mat-raised-button matStepperNext [disabled]="firstFormGroup.invalid">
          Siguiente
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Clases a tomar">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Clases</mat-label>
        <mat-select [multiple]="true" formControlName="clases" required>
          <mat-option value="Pilates">Pilates</mat-option>
          <mat-option value="Crossfit">Crossfit</mat-option>
          <mat-option value="Boxeo">Boxeo</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
        <mat-label style="color: black;">Género</mat-label>
        <br>
        <mat-radio-group name="genero" formControlName="genero" required>
          <mat-radio-button value="Masculino">Masculino</mat-radio-button>
          <mat-radio-button value="Femenino">Femenino</mat-radio-button>
        </mat-radio-group>
      
      <br>
      @if (secondFormGroup.get("genero")?.errors?.["required"]) {
        <span style="color: rgb(184, 9, 9);">Tiene que seleccionar un género</span>
      }
      <br />
      <mat-checkbox formControlName="condiciones" required>Aceptar condiciones</mat-checkbox>
      <br>
      @if (secondFormGroup.get("condiciones")?.errors?.["required"]) {
        <span style="color: rgb(184, 9, 9);">Tiene que aceptar las condiciones</span>
      }
      
      

      <div>
        <button mat-raised-button matStepperPrevious>Atrás</button>
        <button mat-raised-button (click)="stepper.reset()" style="color: rgb(184, 9, 9);">Reset</button>
        <button mat-raised-button matStepperNext [disabled]="secondFormGroup.invalid" (click)="openDialog()" style="color: rgb(43, 175, 43);">INSCRIBIR</button>
        
      </div>
    </form>
  </mat-step>

</mat-stepper>

